scipy
sklearn
pyemma
mdtraj
argparse
datetime
codecov
numpy>=1.13.3
scikit-learn
bhmm<0.7,>=0.6
decorator>=4.0.0
h5py>=2.7.1
matplotlib
msmtools>=1.2
pathos
psutil>=3.1.1
pyyaml
tqdm>=4.23
pytz
zope.interface
requests>=2.7.9
coverage
joblib>=0.11
six
kiwisolver>=1.0.1
python-dateutil>=2.1
cycler>=0.10
pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1
dill>=0.3.1
multiprocess>=0.70.9
pox>=0.2.7
ppft>=1.6.6.1
setuptools
certifi>=2017.4.17
urllib3>=1.26.7
idna<3,>=2.5
chardet<4,>=3.0.2
